.Popup {

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    .content {
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);

        background-color: white;
        width: 280px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 24px;
        border-radius: 4px;
    }
}