.BtnOrderOrReservation {
    position: absolute;
    bottom: 100px;
    left: 24px;
    z-index: 999;
    white-space: nowrap;
    
    button {
        color: gold;
    }


    &.onSite {
        position: fixed;
        transform: translateX(calc(-100% + 16px));
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0 4px 4px 0;
        box-shadow: 1px 1px 4px black;

        &.showed {
            transform: translateX(0);
        }

        .toggler {
            height: 36px;
            padding: 0;
        }
    }
}