.container {
    width: 100%;
}

.imgContainer {
    max-height: 550px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.textContainer {
    text-align: justify;

    .title {
        text-align: left;
        font-size: 60px;

        @media screen and (max-width: 480px) {
            font-size: 48px;
            text-align: center;
        }

        // position: relative;

        // &:hover::before {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-image: url(../../public/imgs/Hover_effect.png);
        //     background-repeat: no-repeat;
        //     background-size: contain;
        //     opacity: 0.8;
        // }
    }
}