.RestaurantName {
    color: white;
    text-align: end;

    .name {
        font-size: 48px;
        font-weight: bold;
        display: flex;
    }

    .sushi {
        margin-right: 16px;
        transform: translateX(0);
        animation: sushi-appear 1.5s ease-in;

        @keyframes sushi-appear {
            0% {
                opacity: 0;
                transform: translateX(-150vw);
            }

            90% {
                opacity: 0;
                transform: translateX(-50vw);
            }

            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    .xeng {
        transform: translateX(0);
        animation: xeng-appear 1s ease-in;

        @keyframes xeng-appear {
            0% {
                opacity: 0;
                transform: translateX(150vw);
            }

            90% {
                opacity: 0;
                transform: translateX(50vw);
            }

            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }

    .subName {
        font-size: 20px;
        transform: translateY(0);
        animation: subName-appear 0.25s ease-out;

        @keyframes subName-appear {
            from {
                opacity: 0;
                transform: translateY(50vh);
            }

            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    
    @media only screen and (min-width: 600px) {
        .name {
            font-size: 64px;
        }
    }
}