$backgroundColor1: #26333a;
$backgroundColor2: #aed0a6;

.Header {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background: -webkit-linear-gradient(to bottom, #aed0a6, #271827);
    background: -webkit-linear-gradient(to left bottom, #406d8e, #000000);
    // background: linear-gradient(to bottom, #d4d7d9 10%, #373737, #312a06, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #aed0a6, #271827);
    background: linear-gradient(to left bottom, #406d8e, #000000);
    // background: linear-gradient(to bottom, #d4d7d9 10%, #373737, #312a06, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sky {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100vw;
    height: 200px;
}

.sun {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px black;
}

.cloud {
    position: absolute;
    width: 150px;

    img {
        width: 100%;
    }
}

.tree {
    position: absolute;
    top: 100px;
}

.bough {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 200px;

    img {
        width: 100%;
    }
}

.flower {
    position: absolute;
    width: 16px;
    animation: bloom 1s ease-in-out;

    img {
        width: 100%;
    }
}

@keyframes bloom {
    0% {
        width: 0
    }

    100% {
        width: 16px
    }
}

.lantern {
    position: absolute;
    height: 200px;

    img {
        height: 100%;
    }
}

.title {
    position: absolute;
    bottom: 200px;
    right: 30px;
}


@media only screen and (min-width: 600px) {

    .sky {
        height: 400px;
    }

    .sun {
        width: 400px;
        height: 400px;
    }

    .bough {
        width: 500px;
        height: 300px;
    }

    .lantern {
        height: 300px;
    }

    .title {
        right: 20%;
    }
}
