.Header {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(to bottom, #aed0a6, #271827);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #aed0a6, #271827);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sun {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px black;
}

.tree {
    position: absolute;
    top: 100px;
}

.bough {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 320px;

    img {
        width: 100%;
    }
}

.flower {
    position: absolute;
    width: 16px;
    animation: bloom 1s ease-in-out;

    img {
        width: 100%;
    }
}

@keyframes bloom {
    0% {width: 0}
    100% {width: 24px}
}

.lantern {
    position: absolute;
    height: 200px;

    img {
        height: 100%;
    }
}

.cloud {
    width: 150px;
    position: absolute;

    img {
        width: 100%;
    }
}

.title {
    position: absolute;
    bottom: 200px;
    right: 30px;
}