.Header {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #94a6a5;

  .slide1 {
    height: calc(100% - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: #94A6A5;

    .bgImg {
      position: absolute;
      top: 100px;
      right: 80px;
      bottom: 0;
      width: 100%;
      background: url(../../../public/imgs/bonghoaHeader.svg) no-repeat;
      background-size: contain;
      background-position: bottom right;
    }

    .text {
      position: absolute;
      top: 100px;
      left: 80px;
      bottom: 0;

      .main {
        font-size: 6rem;
        line-height: 1.25;
        font-weight: 600;
      }

      .sub {
        font-size: 2.5rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .slide1 {
      .bgImg {
        background: url(../../../public/imgs/bonghoaHeaderMobile.svg) no-repeat;
        background-position: bottom;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .text {
        top: 0;
        left: 0;
        right: 0;
        padding: 1.5rem;

        .main {
          font-size: 5rem;
          line-height: 1.25;
          padding: 24px 0;
        }

        .sub {
          font-size: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .slide1 {

      .text {

        .main {
          font-size: 48px;
          line-height: 1.25;
          font-weight: 600;
          padding: 24px 0;
        }

        .sub {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-height: 480px) and (orientation : landscape) {}


}