.BtnReservation {
    .popUp {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

        .overlay {
            background-color: rgba(0,0,0,0.2);
        }
        .content {
            position: fixed;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);

            background-color: white;
            width: 280px;
            height: 400px;
        }
    }
}