.scrollSnapVerticalContainer {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
        display: none;
        /* Hide scrollbar for Chrome, Safari and Opera */
    }

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    scrollbar-width: none;

    .snapItem {
        width: 100%;
        height: 100vh;
        scroll-snap-align: center;
        /* Scroll Snap */
    }
}

.headerIntroVideo {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #96a8a8;
}

.background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #94A6A5;

    .bgImg {
        position: absolute;

        &.hoano {
            bottom: 0;
            left: 80px;
            z-index: -1;
            width: 500px;
        }

        &.buphoa {
            top: 0;
            right: 100px;
            z-index: -2;
            width: 700px;
        }

        &.hoanoMobile {
            left: 50%;
            transform: translateX(-50%);
            max-width: 100%;
            width: 350px;
        }
    }
}