.bgImg {
    background-color: #3C7CA8;
    position: fixed;
    height: 100dvh;
    width: 100%;
    z-index: -1;
}

.contentBox {
    width: 90%;
    margin: auto;
    color: white;

    &>.section {
        width: 100%;
        box-sizing: border-box;
        padding-top: 100px;
        height: fit-content;
        overflow: hidden;
    }
}