.Navbar {
    * {
        text-decoration: none;
        color: rgba(0, 0, 0);
    }

    position: fixed;
    top: 0;
    right: 0;

    .overlay {
        width: 100vw;
        height: 100vh;
        opacity: 0.5;
        background-color: black;
    }

    .itemsBox {
        width: 300px;
        height: 100vh;
        box-shadow: -5px -5px 20px black;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        transition: all 0.25s ease-in;

        .navItem {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 32px;
            padding: 16px;
        }

    }

    &.close {
        .itemsBox {
            width: 0;
        }

        .overlay {
            display: none;
        }
    }
}