.Gallery {
    scroll-margin-top: 100px;
    /*again scrolling to top:0*/
    background-color: white;
}

.carouselContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    max-width: 800px;
    width: 100%;
}