.section {
    width: 100%;
    position: relative;
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 100%);
    color: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 64px 0;
    margin-top: -30vh;

    .title {
        margin: 24px;
        width: calc(100vw - 2*24px);
    }

    .description {
        margin: 0 24px 24px;
    }

    img {
        width: calc(100vw - 2*24px);
        height: 280px;
        border-radius: 4px;
        object-fit: cover;
    }

    @media only screen and (min-width: 600px) {
        flex-direction: row;
        justify-content: space-around;

        .title {
            width: 300px;
            margin: 0;
        }
    
        .description {
            width: 300px;
            margin: 0;
        }
    
        img {
            width: 300px;
        }
    }

}