.SectionJoinOurCommunity {
    height: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .CTA_button {
        text-align: center;
        font-size: 32px;

        a {
            color: #94A6A5;
        }

        padding: 8px;
        background-image: url(../../../public/imgs/CTA_button.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;

        &:hover {
            filter: brightness(1.05);
        }

        &:focus,
        &:active {
            filter: brightness(1.2);
        }
    }

    .text {
        text-align: justify;
        color: white;
        padding: 16px;

        .title {
            font-size: 60px;
            line-height: 1.2;
            text-align: center;
        }

        .description {
            text-align: justify;
            font-size: 16px;
        }
    }

    .Instas {
        padding-top: 16px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;

        img {
            max-width: 30%;
            width: 200px;
        }
    }

}