.BtnGoTop {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 4px;

    .arrowLine {

        background-color: white;
        border-radius: 5px;
        height: 5%;
        width: 40%;
        position: absolute;
        top: 30%;

        &.left {
            transform-origin: right;
            transform: rotate(-45deg);
            right: 49%;
        }

        &.right {
            align-self: flex-end;
            transform-origin: left;
            transform: rotate(45deg);
            left: 49%;
        }

    }
}