.Footer {
    padding: 24px;
    background-image: url(../../public/imgs/Background_footer.png);

    &.includeBgColor {
        background-color: rgba(148, 166, 165, 0.9);
    }

    * {
        color: white !important;
    }

    .section {
        max-width: 1024px;
        margin: 0 auto;
    }

    h4 {
        text-align: center;
    }
}

.extra {
    margin-top: 64px;
}

.socialLinks {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.gridTplCol200 {
    display: grid;
    // grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 24px;
}